---

- name: '[{{ ecr_repository_name }}] get NPMRC_ENCODED from the environment variable'
  set_fact:
    npmrc_encoded: "{{ lookup('env', 'NPMRC_ENCODED') }}"
  no_log: true

- name: '[{{ ecr_repository_name }}] safeguard'
  fail: msg="missing environment variable 'NPMRC_ENCODED'"
  when: npmrc_encoded == ''

- name: '[{{ ecr_repository_name }}] copy container code to workspace'
  ansible.posix.synchronize:
    src: '{{ code_path }}/'
    dest: '{{ workspace_code_path }}'
    copy_links: 'yes'
    recursive: 'yes'
    delete: 'yes'
    rsync_opts:
      - '--exclude=venv'
      - '--exclude=node_modules'
      - '--exclude=coverage'
  no_log: '{{ ansible_verbosity < 3 }}'

# build build_arg string
#
- name: '[{{ ecr_repository_name }}] clear existing docker_build_args_str'
  set_fact:
    docker_build_args_str: ''
- name: '[{{ ecr_repository_name }}] build docker_build_args_str'
  set_fact:
    docker_build_args_str: '{{ docker_build_args_str }} --build-arg {{ item.key }}="{{ item.value }}"'
  with_items: '{{ docker_build_args | default({}) | dict2items }}'
  when: docker_build_args is defined and docker_build_args.keys()|length > 0

- name: '[{{ ecr_repository_name }}] build the image'
  command: |
    docker build --platform linux/amd64 --rm --quiet --tag {{ docker_image_with_tag }} {{ workspace_code_path }} --build-arg NPMRC_ENCODED="$NPMRC_ENCODED" {{ docker_build_args_str }}
